body {
    font-family: 'Poppins', sans-serif;
    background-color: #37003c;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.profile-body {
    background-color: #37003c; /* Asegúrate de tener el mismo fondo */
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e90052;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.container {
    width: 80%;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.player-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 22px; /* Originalmente 15px, incrementado en 10% */
    display: flex;
    align-items: center;
    gap: 22px; /* Originalmente 15px, incrementado en 10% */
    width: 150%; /* Originalmente 100%, incrementado en 10% */
    max-width: 550px; /* Originalmente 400px, incrementado en 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.player-info {
    text-align: left;
    color: white;
    font-size: 30px; /* Ajustado para aumentar el tamaño de la letra */
}

.logo-container {
    position: absolute;
    top: 150px; /* Ajustado para mover el logo */
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

h1, h2 {
    font-size: 50px;
    margin-top: 150px; /* Ajusta este valor para separar el título del logo */
    margin-bottom: 150px;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.search-container {
    margin-top: 150px; /* Ajustado para mover el filtro de búsqueda */
    margin-bottom: 150px; /* Agregado para separar el filtro de los rectángulos */
    text-align: center;
}


.profile-photo {
    width: 300px; /* Ajusta el tamaño según tu preferencia */
    height: 300px; /* Ajusta el tamaño según tu preferencia */
    border-radius: 50%;
    margin-bottom: 20px; /* Espacio inferior para separar del texto */
}