<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Chicas Mágicas</title>
</head>
<body>
    <h1>Lista de Chicas Mágicas</h1>
    <ul>
        {% for girl in girls %}
        <li>
            <a href="/magical_girls/{{ girl.id }}">{{ girl.name }}</a><br>
            <strong>Edad:</strong> {{ girl.age }}<br>
            <strong>Ciudad:</strong> {{ girl.city }}<br>
            <strong>Estado:</strong> {{ girl.status }}<br>
            <strong>Fecha de Contrato:</strong> {{ girl.contract_date }}<br>
            <strong>Raza:</strong> {{ girl.race }}<br>
        </li>
        <hr