<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Chica Mágica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="profile-body">

    <img src="{{ url_for('static', filename='images/premier-logo.jpg') }}" alt="Premier League Logo" class="logo-container logo-left">
    <img src="{{ url_for('static', filename='images/premier-logo.jpg') }}" alt="Premier League Logo" class="logo-container logo-right">

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Inicio</a>
    </nav>
   
    <div class="container">
        <h1>Perfil de {{ girl.name }}</h1>
        <img src="{{ girl.photo_url }}" alt="Foto de {{ girl.name }}" class="profile-photo"><br>
        <strong>Edad:</strong> {{ girl.age }}<br>
        <strong>Ciudad:</strong> {{ girl.city }}<br>
        <strong>Estado:</strong> {{ girl.status }}<br>
        <strong>Fecha de Contrato:</strong> {{ girl.contract_date }}<br>
        <strong>Raza:</strong> {{ girl.race }}<br>
       
        <h2>Historial de Estados</h2>
        <ul>
            {% for history in girl.state_history %}
            <li>
                <strong>Estado:</strong> {{ history.status }}<br>
                <strong>Fecha de Cambio:</strong> {{ history.change_date }}<br>
            </li>
            <hr>
            {% endfor %}
        </ul>

        {% if girl.name == "Jean-Philippe Mateta" %}
        <audio id="mateta-song" src="{{ url_for('static', filename='audio/mateta-song.mp3') }}" autoplay></audio>
        <script>
            window.onload = function() {
                var audio = document.getElementById("mateta-song");
                audio.play();
            };
        </script>
        {% endif %}

        {% if girl.name == "ChipiChipi" %}
        <audio id="ChipiChipi-song" src="{{ url_for('static', filename='audio/ChipiChipi-song.mp3') }}" autoplay></audio>
        <script>
            window.onload = function() {
                var audio = document.getElementById("ChipiChipi-song");
                audio.play();
            };
        </script>
        {% endif %}
    </div>

</body>
</html>
